/* ---- Menu Atas ---- */

body {
    font-family: 'Ubuntu', sans-serif;
}
.main .head .left img{
    width: 8rem;
    border-radius: 50%;

}
.main .head {
    width: 60%;
    margin: 9rem auto;
    display: flex;
}
.main .head .right h2 {
    font-size: 2rem;
}

.main .head .right {
    margin-left: 3rem;
    width: 40%;
}

.main .head .right .garis {
    border: 3px solid navy;
    width: 2rem;
    background-color: navy;
    position: relative;
    top: -1rem;
}

.main .head .right .menu {
    display: flex;
    justify-content: space-evenly ;
    width: 110%;
    
}

/* ------- Isi Page ------ */
.main .head .right .menu a {
    text-decoration: none;
    color: gray;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.main .tabel {
    width: 58%;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: rgb(226, 226, 226);
    padding: 1rem 1.5rem;
}
/* ----- garis bawah ------- */
.main .garis.bawah {
    border: 1px solid black;
    width: 60rem;
    background-color: black;
    margin: 10rem auto 0rem auto;
}

.main .build {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    position: relative;
    top: -1rem;
    margin: 0 auto;
}